body {
  margin: 0 auto;
  padding: 80px;
  width: 600px;
  background: linear-gradient(90deg, #ffb0e1, #b0dbff);
}

#box {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 65%;
}

p {
  text-align: center;
  font-weight: bold;
  font-size: 280%;
}

.login-form {
  text-align: center;
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login{
  border: none;
  border-bottom: 1px solid black;
  font-size: large;
  margin-bottom: 7%;
  width: 30%;
}

.login:focus {
  outline: none;
}

#submit {
  font-size: large;
  font-weight: 1000;
  color: white;
  margin-top: 10%;
  width: 17%;
  height: 45px;
  border-radius: 50px;
  border: none;
  background-image: linear-gradient(to right, #7286f5, #2f2d91, #f35ce6, #ffc7f8);
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
  cursor: pointer;
  background-size: 300% 100%;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

#submit:hover {
  background-position: 100% 0;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}