body {
  font-family: sans-serif;
  background-image: url("/img/08.jpg");
  background-repeat: no-repeat;
}

#logo {
  max-width: 200px;
  height:auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline;
  margin: 0 10px;
}

a {
  text-decoration: none;
  color: white;
  font-size: large;
  font-weight: bold;
  display: inline-block;
}

.gnb {
  margin-top: 6%;
  text-align: center;
  
}

#login {
  border: none;
  background-color: transparent;
  position: fixed;
  margin-top: -6.5%;
  margin-left: 84%;
  color: white;
}

#sign_up {
  border: none;
  background-color: transparent;
  position: fixed;
  margin-top: -6.5%;
  margin-left: 88%;
  color: white;
}

.gnb a {
  letter-spacing: 0;
  transition: 0.35s;
}

.gnb a:hover, .gnb a:active {
  letter-spacing: 5px;
  transition: 0.35s;
}

.gnb a:after {
  bottom: -10px;
}

.gnb a:before {
  top: -10px;
}

.gnb a:after, .gnb a:before {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  content: "";
  display: block;
  margin: 0 auto;
  position: relative;
  float: auto;
  transition: all 280ms ease-in-out;
  width: 0;
}

.gnb a:hover:after, .gnb a:hover:before {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 100%;
}

.gnb a:hover:before {
  width: 100%;
}
